
div.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	  
}
.disableClick {
	pointer-events: none;
}

#disableMe {
	pointer-events: none;
}

.table-scroll {
	position: relative;
	
	width:100%;
	margin: auto;
	display:table;
}
.table-wrap {
	width: 100%;
	display:block;
	overflow: auto;
	position:relative;
	z-index:1;
	
	
height: auto;
max-height: 590px;
min-height: 90px;

}
.table-scroll table {
	width: 100%;
	margin: auto;
	border-collapse: separate;
	border-spacing: 0;
}

.table-scroll th{
	padding: 22px 0px;
	vertical-align: top;
	background:  	#DCDCDC !important;
    color: #696969 !important;

}

.table-scroll th, .table-scroll td {
	padding:8px 10px;
	vertical-align: top;
	text-align: left;
	
}
.faux-table table {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}
.faux-table table + table {
	top: auto;
	bottom: 0;
}
.faux-table table tbody, .faux-table  tfoot {
	visibility: hidden;
	border-color: transparent;
}
.faux-table table + table thead {
	visibility: hidden;
	border-color: transparent;
}


.faux-table table + table  tfoot{
	visibility:visible;

}
.faux-table thead th, .faux-table tfoot th, .faux-table tfoot td {

}
.faux-table {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	overflow-y:scroll;
}
.faux-table thead, .faux-table tfoot, .faux-table thead th, .faux-table tfoot th, .faux-table tfoot td {
	position:relative;
	z-index:2;
}
.table-menu{ padding: 0px}

.table-menu li{ 
	
list-style-type:none;
display:inline-block


 
}

.table-menu .dropdown-menu {
    left: -158px;
    padding:15px;
    
   
}
